<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We demand accountability and immediate policy reform by the City of Cleveland. We're here because the city of Cleveland has lost its legitimacy to govern while our people are being murdered in the streets by the police department. The truth is that the deaths of Tanisha Anderson and Tamir Rice are not accidents, not the tragic mistakes of a few 'bad apples', but the extreme manifestation of a racist system that has no accountability.">
    <meta name="author" content="New Abolitionist Association - Ohio">

    <meta name="og:url" content="http://cledemandsjustice.org" />
    <meta name="og:title" content="#CLEDemands Justice" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://cledemandsjustice.org/demands.jpg" />
    <meta name="og:description" content="We demand accountability and immediate policy reform by the City of Cleveland. We're here because the city of Cleveland has lost its legitimacy to govern while our people are being murdered in the streets by the police department. The truth is that the deaths of Tanisha Anderson and Tamir Rice are not accidents, not the tragic mistakes of a few 'bad apples', but the extreme manifestation of a racist system that has no accountability." />

     <link rel="icon" type="image/png" href="/img/favicon.png" />

    <title>{{ page.title }}</title>

    {% include styles.html %}

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <div id="fb-root"></div>
  <script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=288051368053009&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

    {% include topnav.html %}

    {{ content }}

    {% include scripts.html %}



</body>

</html>
