<div class="col-md-6">
    <h2>Connect With Us</h2>
    </p>
    <h3>New Abolitionists Association - Ohio</h3>
    <ul class="list-inline banner-social-buttons">
        <li>
            <a href="https://www.facebook.com/NewAbolitionistAssociationOhio" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
        </li>
        <li>
            <a href="http://www.cdfohio.org/programs-campaigns/the-new-abolitionist/" class="btn btn-default btn-lg"><i class="fa fa-globe fa-fw"></i> <span class="network-name">Website</span></a>
        </li>
    </ul>
</div>
<div class="col-md-6 text-left">
  <div class="panel">
      <h2>Press inquiries:</h2>
    <div class="list-group">
      {% for contact in site.data.contacts %}
        <div class="list-group-item">
          <h4 class="list-group-item-heading">{{ contact.name }}</h4>
            <ul class="list-unstyled">
              <li>{{ contact.title }}</li>
              <li>{{ contact.org }}</li>
              <li><span class="fa fa-phone"></span> {{ contact.phone }}</li>
              <li><span class="fa fa-envelope"></span> {{ contact.email }}</li>
            </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
