<div class="container">
    <div class="row">
      <h2>{{site.mediatext.inquiries_headline}}</h2>
    </div>
    <div class="row">

        {% for contact in site.categories.contact %}
        {% if contact.media %}
        <div class="col-md-4 text-left contact-card">
            <div class="panel">
              <div class="panel-heading">
                  <h4 class="panel-title">{{ contact.name }}</h4>
              </div>
              <div class="panel-body">
                <ul class="list-unstyled ">
                    <li>{{ contact.title }}</li>
                    <li>{{ contact.org }}</li>
                    <li><span class="fa fa-phone"></span> <a href="tel:{{contact.phone}}">{{ contact.phone }}</li>
              <li><span class="fa fa-envelope"></span> <a href="mailto:{{contact.email}}">{{ contact.email }}</a>
                    </li>
                </ul>
              </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row">
      <h2>{{site.mediatext.releases_headline}}</h2>
    </div>
    <div class="row">
        {% for post in site.categories.release %}
        <div class="panel col-md-6 col-lg-4 text-left">
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <em>{{ post.date | date: "%b %-d, %Y"}}</em>
        </div>
        {% endfor %}
    </div>
    <div class="row">
      <h2>{{site.mediatext.mediahits_headline}}</h2>
    </div>
    <div class="row">
        {% for hit in site.categories.media %}
        <div class="panel col-md-6 col-lg-4 media-hits text-left">
            <h4><a href="{{ hit.url }}" target="_blank">{{ hit.title }}</a></h4>
            <strong>{{hit.agency}}</strong>
            <em>{{ hit.date | date: "%b %-d, %Y"}}</em>
        </div>
        {% endfor %}
    </div>
</div>
