<h2>{{site.memorial.headline}}</h2>
<div class="lead">{{site.memorial.lead}}</div>

<div class="col-md-5 col-sm-12 col-md-offset-1">
  <h3>{{ site.tanisha.name }} <small>{{ site.tanisha.years }}</small></h3>
  <img class="img-rounded" alt="Photo of {{ site.name }}" src="img/{{ site.tanisha.image }}" />
  {{ site.tanisha.story }}
</div>

<div class="col-md-5 col-sm-12 col-md-offset-1">
  <h3>{{ site.tamir.name }} <small>{{ site.tamir.years }}</small></h3>
  <img class="img-rounded" alt="Photo of {{ site.tamir.name }}" src="img/{{site.tamir.image }}" />
  {{ site.tamir.story }}
</div>
